
.navbar{
 height: 100px;
  background-color: #383838;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  position: inherit;
}
.nav-menu{
  justify-content: space-around;

}
.ul__menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  position: relative;
  list-style: none;
 padding: 0px 100px;
} 


.navbar  img {
  width: auto; 
  height: 25px;  
  margin-right: 10px;
  position: relative;
  
}



  .sidebar {
    width: 200px;
    background-color: #ffffff;
    padding: 20px;
  }

  
  .sidebar a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
  }

  .sidebar a:hover {
    background-color: #ddd;
  }



